In [1]:
from ts.data.dataset import *

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/ahmed/.kaggle/kaggle.json'

# Amazon Stock Price

In [2]:
df = AmazonStockPrice.loadData('/Users/ahmed/Downloads/Datasets/amazonStockPrice')
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,1997-05-15,2.437500,2.500000,1.927083,1.958333,1.958333,72156000
1,1997-05-16,1.968750,1.979167,1.708333,1.729167,1.729167,14700000
2,1997-05-19,1.760417,1.770833,1.625000,1.708333,1.708333,6106800
3,1997-05-20,1.729167,1.750000,1.635417,1.635417,1.635417,5467200
4,1997-05-21,1.635417,1.645833,1.375000,1.427083,1.427083,18853200
...,...,...,...,...,...,...,...
5837,2020-07-27,3062.000000,3098.000000,3015.770020,3055.209961,3055.209961,4170500
5838,2020-07-28,3054.270020,3077.090088,2995.760010,3000.330078,3000.330078,3126700
5839,2020-07-29,3030.989990,3039.159912,2996.770020,3033.530029,3033.530029,2974100
5840,2020-07-30,3014.000000,3092.000000,3005.000000,3051.879883,3051.879883,6128300
5841,2020-07-31,3244.000000,3246.820068,3151.000000,3164.679932,3164.679932,8085500

# Retail Sales

In [3]:
df = RetailSales.loadData('/Users/ahmed/Downloads/Datasets/RetailSales')
df

          date  sale  stock  price
0   2014-01-01     0   4972   1.29
1   2014-01-02    70   4902   1.29
2   2014-01-03    59   4843   1.29
3   2014-01-04    93   4750   1.29
4   2014-01-05    96   4654   1.29
..         ...   ...    ...    ...
932 2016-07-27    98   3179   2.39
933 2016-07-28   108   3071   2.39
934 2016-07-29   128   4095   2.39
935 2016-07-30   270   3825   2.39
936 2016-07-31   183   3642   2.39

[937 rows x 4 columns]

# Jaipur Weather

In [4]:
df = JaipurWeather.loadData('/Users/ahmed/Downloads/Datasets/JaipurWeather')
df

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/ahmed/.kaggle/kaggle.json'

,date,meantempm,maxtempm,mintempm,meantempm_1,meantempm_2,meantempm_3,meandewptm_1,meandewptm_2,meandewptm_3,...,mindewptm_3,maxpressurem_1,maxpressurem_2,maxpressurem_3,minpressurem_1,minpressurem_2,minpressurem_3,precipm_1,precipm_2,precipm_3
0,2016-05-04,34,41,27,35.0,36.0,34.0,6.0,4.0,-1.0,...,-10.0,1009.0,1008.0,1009.0,1000.0,1001.0,999.0,0.0,0.0,0.0
1,2016-05-05,31,38,24,34.0,35.0,36.0,7.0,6.0,4.0,...,-2.0,1008.0,1009.0,1008.0,1001.0,1000.0,1001.0,0.0,0.0,0.0
2,2016-05-06,28,34,21,31.0,34.0,35.0,11.0,7.0,6.0,...,-2.0,1011.0,1008.0,1009.0,1003.0,1001.0,1000.0,5.0,0.0,0.0
3,2016-05-07,30,38,23,28.0,31.0,34.0,13.0,11.0,7.0,...,0.0,1011.0,1011.0,1008.0,1004.0,1003.0,1001.0,0.0,5.0,0.0
4,2016-05-08,34,41,26,30.0,28.0,31.0,10.0,13.0,11.0,...,6.0,1010.0,1011.0,1011.0,1002.0,1004.0,1003.0,0.0,0.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,2018-03-07,24,32,15,22.0,23.0,25.0,4.0,7.0,8.0,...,2.0,1018.0,1017.0,1018.0,1012.0,1011.0,1007.0,0.0,0.0,0.0
672,2018-03-08,24,32,15,24.0,22.0,23.0,2.0,4.0,7.0,...,0.0,1017.0,1018.0,1017.0,1011.0,1012.0,1011.0,0.0,0.0,0.0
673,2018-03-09,26,33,19,24.0,24.0,22.0,1.0,2.0,4.0,...,-3.0,1017.0,1017.0,1018.0,1011.0,1011.0,1012.0,0.0,0.0,0.0
674,2018-03-10,26,34,19,26.0,24.0,24.0,3.0,1.0,2.0,...,-6.0,1017.0,1017.0,1017.0,1009.0,1011.0,1011.0,0.0,0.0,0.0
675,2018-03-11,26,34,18,26.0,26.0,24.0,4.0,3.0,1.0,...,-5.0,1017.0,1017.0,1017.0,1009.0,1009.0,1011.0,0.0,0.0,0.0